// Icon functions

// Get the icon code.
@function icon-get-code($icon-name) {
  @return map-get($icon-mappings, $icon-name);
}

@mixin icon-style {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Use this function to include an icon.
@mixin icon($icon-name: null, $pseudo: before) {
  @include icon-style();

  @if ($icon-name) {
    &:#{$pseudo} {
      content: icon-get-code($icon-name);
    }
  }
}

@mixin icon-sidemenu($icon-name: null, $pseudo: before) {

  @if ($icon-name) {
    &:#{$pseudo} {
      @include icon-style();
      content: icon-get-code($icon-name);
      position: relative;
      top: 3px;
      font-size: $font-size-larger;
      padding-right: $qtr-spacing-unit;
    }
  }
}

// Include only the font.
%icon {
  @include icon;
}
