.ds-link-teaser {
  @extend %clearfix;
  display: block;

  &__side {
    width: 6em;
    float: left;

    i {
      @include icon(ct-assessment-summary);
      font-size: 5em;
    }
  }

  span {
    display: block;
  }
}
