

// Fast 404 page.
.static-404 {

  .content-feature {
    background: $color-grey image-url('static-hero.jpg') 50% 50%;
    background-size: cover;

    h1 {
      text-align: center;
      margin: 0;
      padding: 8% 0;
      color: $color-white;
    }

  }

  .layout__content-wrapper {
    margin: 5% 0;
    padding: 0 15px;
    @include container(800px);

    h2 {
      margin-bottom: 0.5em;
    }

    ul {
      margin-bottom: 1.5em;
    }

    form {
      padding-top: 1em;
    }
  }

}