#theme-framework-landing {
  padding-bottom: $double-spacing-unit;
}

.framework-at-a-glance {
  &__icon {
    &:before {
      display: inline-block;
      font-size: $font-size-xxlarge;
      padding-right: $half-spacing-unit;
      vertical-align: middle;
    }
    h4, h3 {
      @extend %text-body__dark;
      display: inline-block;
      vertical-align: middle;
      font-weight: $font-weight-bold;
      font-size: $font-size-xlarge;
    }
  }
  &__glance {
    padding: $region-gutter-large;
    margin-bottom: $base-spacing-unit;
    @include border-bottom-left-radius(30px);
    p {
      margin-bottom: $half-spacing-unit;
      line-height: 1.7em;
    }
  }
}

.view-framework-intro-by-theme-framework {
  padding-bottom: $base-spacing-unit;
  .content {
    padding: 0;
  }
}