// Ckan graph node styles.

%graph,
.graph {
  margin-bottom: $half-spacing-unit;

  &__title,
  &__reference {
    margin-bottom: $base-spacing-unit;
  }

  &__split-title {
    @extend %text-heading__gamma;
  }

  &__fallback-image {
    margin-bottom: $base-spacing-unit;
  }

  &__dataset {

    .content {
      @include gutter-horizontal(0);
    }

    span.file {
      display: none;
    }
  }

  &__button {
    margin-right: $qtr-spacing-unit;
    margin-bottom: $half-spacing-unit;

    &:hover {
      opacity: 0.9;
    }
  }

  &__chart {
    margin-bottom: $base-spacing-unit;
  }

  &__topic {
    margin: $half-spacing-unit 0;

    // Topic link hidden when graph embedded on a topic page.
    .node-report-topic-content & {
      display: none;
    }

    i {
      font-size: 1.7em;
      float: left;
      margin-right: $qtr-spacing-unit;
    }

    &__items {
      display: inline-block;
      padding-top: 4px;
    }
  }

  &__disable-table {
    button.table-chart--toggle {
      display: none;
    }
  }
}

// Graph entity.
.node-ckan-graph {
  @extend %graph;
}

// Graph table styles.
.ckan-display-table {

  button {
    @extend %graph__button;
  }

  .table-chart--chart {
    @extend %graph__chart;
  }
}

// Prevent the flash of a yet-to-be-converted table while loading.
html.js table.doe-graph-table {
  display: none;
  &.table-charts-processed {
    display: table;
  }
}
