.homepage-info-block {
  text-align: center;
  background: image-url('brand-gradient-pattern.png'), $color-brand-primary;
  position: relative;
  padding: $double-spacing-unit $base-spacing-unit;
  background-attachment: fixed;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  .pane-content {
    color: transparentize($color-white, 0.6);
    max-width: 690px;
    -webkit-font-smoothing: antialiased;

    p {
      font-size: $font-size-large;
    }

    h2 {
      color: $color-white;
      font-weight: $font-weight-bold;
      font-size: $font-size-xlarge *  1.25;
      margin-bottom: $base-spacing-unit;
    }
  }

  @include at-bp(medium) {
    height: 50vh;
  }
}
