$icon-col-width: 2.6em;
$gutter: 2.5em;
$icon-size: 2em;

.image-list-item {
  max-width: 70em;
  @extend %clearfix;
  margin: $gutter 0;
  position: relative;

  &__media {
    @extend %clearfix;
    @include border-radius(5px);
    background: $color-grey;
    position: relative;
    padding-left: $icon-col-width;
    margin-bottom: $region-gutter-small;
    min-height: 3.2em;

    @include at-bp(large) {
      max-width: 19em;
      margin-right: $gutter;
      @include border-radius(10px 0 0 10px);
    }
  }

  &__icon {
    @include position-absolute(top 0.6em left $region-gutter-small);
    width: $icon-col-width;
    @include at-bp(large) {
      left: 0;
    }
    .icon {
      font-size: $icon-size;
      display: block;
      text-align: center;
      color: $color-white;
    }
  }

  &__image {
    display: none;
    @include at-bp(large) {
      display: block;
    }
  }

  &__title {
    @extend %text-heading__beta;
    padding: 10px 0;
    margin: 0;
    font-weight: $font-weight-medium;
    a {
      @include link-color($color-white);
    }
    @include position-absolute(top 0 left 3em);
    @include at-bp(large) {
      position: relative;
      left: 0;
      padding-top: $qtr-spacing-unit;
      font-weight: $font-weight-bold;
      a {
        @include link-color($color-mine-shaft);
      }
    }
  }

  &__links a {
    @extend %btn-arrow;
  }

  &__side {
    @include at-bp(large) {
      @include span(5);
    }
  }

  &__content {
    @extend %text-body__dark;
    @include at-bp(large) {
      @include span(13 last);
    }
  }

}
