.known-as,
%known-as {
  &__popup-content {
    display: none;
  }

  &__prev-as &__title::before {
    content: 'View previous ';
  }

  &__now-as &__title::before {
    content: 'View current ';
  }

  &__prev-asc &__title::before {
    content: 'View previous ';
  }

  &__now-asc &__title::before {
    content: 'View current ';
  }

  &__popup-link {
    @extend .ass-sum__item__metadata-link;
  }

}

.paragraphs-item-known-as {
  &.view-mode-full {

    .known-as__popup-content {
      @extend %known-as__popup-content;
    }

  }
}
