.section-region-search {

  .main {
    overflow: initial;
  }

  #search-map {
    height: 100vh;
  }

  .content-top__wrapper {
    margin-bottom: 0;
  }

  .layout__content {
    padding: ($base-spacing-unit * 3) $double-spacing-unit;
  }

  #views-exposed-form-site-search-region {

    .views-exposed-form {
      position: relative;
    }
  }

  @include at-bp(med-large) {
    #search-map {
      width: 62.5%;
      float: left;
    }

    .layout__content-wrapper {
      width: 37.5%;
      float: right;
      height: 100vh;
      overflow: scroll;
    }
  }
}

.page-region-search {
  .main {
    overflow: hidden;
  }
}