// Report topic teaser.

.report-topic__teaser,
%report-topic__teaser {
  position: relative;
  &__side {
    @include position-absolute(top $qtr-spacing-unit left 0);

  }
  &__content {
    width: auto;
    margin-left: $icon-teaser-side-width;
    float: none;
  }

  &__theme {
    .theme-icon__title {
      display: none;
    }
    .theme-icon__icon {
      @extend %icon-circle;
    }
  }

  &__title {
    @extend %text-heading__beta;
    padding-top: $half-spacing-unit;
    font-size: 1.3em;
  }

  &__framework,
  &__year {
    @extend %icon-category;
  }

  .category-with-icon__year {
    float: right;
  }

  &__relates-to {
    @extend %group__relates-to;
  }

  &__summary {
    margin: $three-qtr-spacing-unit 0;
  }

  .links {
    display: block;
    padding-bottom: $qtr-spacing-unit;
  }

  .links {
    li {
      margin: 0 $double-spacing-unit $qtr-spacing-unit 0;
      display: inline-block;
      a {
        @extend %btn-arrow;
      }
    }
  }
}

// We need to override some styles added by base and panels.
.node-report-topic-content.node-teaser,
.node-standard-report-content.node-teaser {
  &, div.panel-pane & {
    @extend %report-topic__teaser;
  }
  .ds-icon-teaser__side {
    @extend %report-topic__teaser__side;
  }
  .ds-icon-teaser__content {
    @extend %report-topic__teaser__content;
  }

  // For all pages we must apply palette to icon.
  &.current-year {
    // Apply colour based on palette.
    @each $palette-key, $palette-colors in $theme-palette {
      .row-palette__#{$palette-key} {
        .theme-icon__icon {
          background: palette-get-color($palette-key, primary);
        }
      }
    }
  }

}

