
// Sumo select turns selects and multi selects into something we can theme.

.SumoSelect {
  width: 100%;
  max-width: 400px;

  &:focus,
  &:hover,
  &.open {
    > .CaptionCont {
      @include box-shadow(0 0 5px rgba($color-brand-primary, 0.7));
      border-color: rgba($color-brand-primary, 0.8);
    }
  }

  // Top caption.
  .CaptionCont {
    @include border-radius(3px);
    border: 1px solid rgba($color-grey-dark, 0.3);
    color: $color-grey-dark;
    padding: 6px 8px;
    display: block !important;

    > label {
      margin: 0;
      > i {
        background: image-url('arrow-down.png') 50% 50% no-repeat;
      }
    }

    > span.placeholder {
      color: inherit;
      font-style: inherit;
    }
  }

  // Applies to both multi and non multi selects.
  > .optWrapper {
    &, &.multiple {
      .options li.opt {
        border-bottom: none;
        color: $color-grey;

        &, label {
          margin: 0;
        }
      }
    }
  }

  .CaptionCont,
  > .optWrapper {
    background: $color-alabaster;
  }

  // Multi selects only.
  > .optWrapper.multiple > .options li.opt,
  .select-all {

    span i,
    > span i {
      @include border-radius(100%);
      box-shadow: none;
    }

    &.selected {
      span i {
        background-color: $color-brand-primary;
      }
    }

  }

  // .SelectClass is added by SumoSelect when the nativeOnDevice setting returns the user agent (this happens on mobile
  // browsers). On mobile browser the default sumo styles will position the select list in a way that allows the user
  // to interact with it displaying the device default select list.
  select:not(.SelectClass) {
    opacity: 1;
    @include element-invisible();
  }
}
