// Search page.
.section-assessment-summary-components,
.section-region-search,
.section-search {
  // Hide the hero and breadcrumbs.
  .content-feature,
  .breadcrumb__wrapper {
    display: none;
  }

  .pager {
    font-size: $font-size-medium;

    .pager-current {
      background: transparent;
      color: $color-grey-charcoal;
    }

    a {
      font-weight: $font-weight-light;
    }
  }

  .has-pager-top {
    .view-header {
      text-align: center;
    }

    .pager-top {
      .pager {
        margin-bottom: $one-n-half-spacing-unit;
        margin-top: 0;
        padding-top: 0;
      }
    }

    .view-content {
      clear: both;
    }
  }

  @include at-bp(small) {
    .has-pager-top {
      .view-header {
        float: left;
        text-align: left;
      }

      .pager-top {
        float: right;
      }
    }
  }

}

.section-assessment-summary-components,
.section-search {
  .layout__content {
    @include container($content-max-width-large);
    padding: $double-spacing-unit $base-spacing-unit;
  }
}

.ass-sum-search,
.view-id-site_search {
  .view-header {
    margin-bottom: $one-n-half-spacing-unit;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;

    .result {
      font-weight: $font-weight-bold;
    }
  }
}
