$footer-top-height:          115px;
$footer-first-width:         50%;
$footer-second-width:        50%;
$footer-bottom-height:       55px;
$footer-bottom-border-width: 1px;
$footer-component-width:     450px;
