// Icon settings.

$icon-font-family: 'icomoon';
$icon-mappings: (
  ct-at-a-glance: "\e903",
  atmosphere: "\e904",
  antartic-env: "\e905",
  state-and-trends: "\e90a",
  risks: "\e90f",
  resilience: "\e910",
  pressures: "\e915",
  outlook: "\e916",
  marine-env: "\e93d",
  land: "\e94e",
  inland-water2: "\e947",
  heritage: "\e948",
  management: "\e949",
  drivers: "\e94a",
  coasts: "\e94b",
  build-env: "\e94c",
  biodiversity: "\e94d",
  ct-assessment-summary: "\e93e",
  ct-download: "\e93f",
  ct-external-link: "\e940",
  ct-information: "\e941",
  ct-key-finding: "\e942",
  ct-map: "\e943",
  ct-page: "\e944",
  ct-year: "\e945",
  compare-1: "\e92d",
  close-circle: "\e92a",
  information-circle: "\e929",
  information: "\e927",
  trend-unknown: "\e923",
  trend-no-change: "\e924",
  trend-decrease: "\e925",
  trend-increase: "\e926",
  compare-4: "\e930",
  compare-3: "\e931",
  compare-2: "\e932",
  confidence-1: "\e933",
  confidence-5: "\e934",
  confidence-4: "\e935",
  confidence-3: "\e936",
  confidence-2: "\e937",
  arrow-prev: "\e922",
  arrow-next: "\e900",
  table: "\e901",
  warning: "\e902",
  facebook-o: "\e906",
  timer: "\e907",
  search: "\e908",
  inland-water: "\e909",
  facebook-fill: "\e90b",
  twitter: "\e90c",
  fan: "\e90d",
  info: "\e90e",
  twitter-fill: "\e911",
  youtube-o: "\e912",
  eye: "\e913",
  graph-line: "\e914",
  youtube-fill: "\e917",
  folder: "\e918",
  graph-bar: "\e919",
  download: "\e91a",
  clock: "\e91b",
  mountain: "\e91c",
  document: "\e91d",
  ribbon: "\e91e",
  person: "\e91f",
  check: "\e920",
  error: "\e921",
  check3: "\f00e",
  close3: "\f00f",
  remove2: "\f00f",
  times2: "\f00f",
  refresh: "\f021",
  chevron-left2: "\f055",
  chevron-right2: "\f056",
  plus-circle: "\f057",
  minus-circle: "\f058",
  times-circle: "\f059",
  eye2: "\f06e",
  chevron-up: "\f077",
  chevron-down: "\f078",
  thumb-tack: "\f08d",
  desktop: "\f108",
  laptop: "\f109",
  tablet: "\f10a",
  mobile: "\f10b",
  mobile-phone: "\f10b",
  circle: "\f111",
  folder-o: "\f114",
  folder-open-o: "\f115",
  sun-o: "\f185",
  recycle: "\f1b8",
  file-image-o: "\f1c5",
  file-photo-o: "\f1c5",
  file-picture-o: "\f1c5",
  area-chart: "\f1fe",
  pie-chart: "\f200",
  line-chart: "\f201",
  toggle-off: "\f204",
  toggle-on: "\f205",
  commenting: "\f27a",
  angle-right: "\e92f",
  angle-left: "\e938",
  angle-double-down: "\e939",
  angle-double-up: "\e93a",
  angle-double-right: "\e93b",
  angle-double-left: "\e93c",
  heart: "\f004",
  star: "\f005",
  check2: "\f00c",
  close2: "\f00d",
  remove: "\f00d",
  times: "\f00d",
  cog: "\f013",
  gear: "\f013",
  tag: "\f02b",
  bookmark2: "\f02e",
  map-marker: "\f041",
  tint: "\f043",
  chevron-left: "\f053",
  chevron-right: "\f054",
  times-circle-o: "\f05c",
  caret-down: "\f0d7",
  caret-up: "\f0d8",
  caret-left: "\f0d9",
  caret-right: "\f0da",
  sort: "\f0dc",
  unsorted: "\f0dc",
  chevron-circle-left: "\f137",
  chevron-circle-right: "\f138",
  chevron-circle-up: "\f139",
  chevron-circle-down: "\f13a",
  angle-up: "\e92e",
  search2: "\f002",
  bookmark: "\f097",
  twitter-bird: "\f099",
  facebook: "\f09a",
  envelope: "\f0e0",
  angle-down: "\f107",
  thumbs-up: "\f164",
  thumbs-down: "\f165",
  youtube: "\f167",
  gittip: "\f184",
  gratipay: "\f184",
  envira: "\f299",
  area-graph: "\e92b",
  info-with-circle: "\e928",
  time: "\e92c",
  close: "\e5cd",
  storage: "\e1db",
  copy: "\e946",
  overview: "\e94f",
  ic_arrow: "\e950",
  expand: "\e952",
  collapse: "\e951",
);

// This is used for mapping bundles (eg content types/vocabs) to icon codes.
$icon-bundle-mappings: (
  assessment_summary: ct-assessment-summary,
  page: ct-page,
  standard_report_content: ct-page,
  report_topic_content: ct-page,
  key_finding: ct-key-finding,
  map: ct-map,
  ckan_graph: graph-bar,
  years: ct-years,
  framework_at_a_glance: eye,
  case_study: ct-page,
  reference: ct-information,
  executive_summary: ct-page,
  overview: overview,
);
