// Typography abstractions.

// Base heading.
%heading {
  font-family: $heading-font-family;
  color: $color-mine-shaft;
}

// Improves readability of white text on an image.
%hero-shadow {
  text-shadow: 0 1px 10px rgba($color-black, 0.4);
}

// Basic content typography. Great for content blocks.
%basic-content-typography {
  p {
    margin-bottom: 1em;
  }
  h2 {
    margin-top: 0.5em;
  }
  h2, h3 {
    margin-top: 1em;
  }
  h4, h5 {
    margin-top: 1.5em;
  }
}


// Standard typography mixins.
@mixin text-heading($font-size) {
  font-weight: $font-weight-bold;
  font-size: $font-size;
  font-family: $heading-font-family;
  &, a {
    @include link-color($color-mine-shaft);
  }
  a:hover {
    color: $color-link-hover;
  }
}

%text-heading {
  &__alpha {
    @include text-heading($font-size-xlarge);
  }
  &__beta {
    @include text-heading($font-size-large);
  }
  &__gamma {
    @include text-heading($font-size-medium);
  }
  &__delta {
    @include text-heading($font-size-medium-small);
  }
}

%text-body {
  &__light {
    color: $color-grey-dim-gray;
  }
  &__dark {
    color: $color-body;
  }
}

%text-body__page {
  h2 {
    @extend %text-heading__alpha;
  }

  h3 {
    @extend %text-heading__beta;
  }

  h4 {
    @extend %text-heading__beta;
  }

  h5 {
    @extend %text-heading__gamma;
  }

  h6 {
    @extend %text-heading__delta;
  }
}

@mixin text-body__link($color: $color-brand-primary) {
  text-decoration: underline;
  color: $color;
  &:hover {
    text-decoration: underline;
    background-color: rgba($color, 0.1);
  }
}
%text-body__link {
  @include text-body__link();
}

